<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}"></div>
<h2 class="" th:text="#{book.page}" />
<div class="">
    <h1><span th:text="#{profile.titleLabel} + ': '" /><span th:text="${book.title}" />!</h1>
    <p><span th:text="#{profile.annotationLabel} + ': '" /><span th:text="${book.annotation}" /></p>
    <img th:src="@{${image}}" alt="Book Image"  />
</div>
</body>
</html>