<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}">
</div>
<form class="flex flex-col" th:action="@{/create-book}" th:object="${book}" method="POST">
    <div class="mt-2 mb-2">
        <label th:text="#{profile.titleLabel} + ': '" for="title"></label>
        <input type="text" id="title" placeholder="title" th:field="*{title}">
    </div>
    <div class="mb-2">
        <label th:text="#{profile.annotationLabel} + ': '" for="annotation"></label>
        <input type="text" id="annotation" placeholder="annotation" th:field="*{annotation}">
    </div>
    <button class="text-left" type="submit" th:text="#{submitLabel}"></button>
</form>
</body>
</html>