<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}">
</div>
<form class="flex flex-col" th:action="@{/login}" th:object="${suspect}" method="POST">
  <div class="mt-2 mb-2">
    <label th:text="#{email} + ': '" for="email" />
    <input type="email" id="email" placeholder="example@ex.com" th:field="*{email}">
  </div>
  <div class="mb-2">
    <label th:text="#{password} + ': '" for="password" />
    <input type="password" id="password" placeholder="password" th:field="*{password}">
  </div>
  <button class="text-left" type="submit" th:text="#{submit} "></button>
</form>
</body>
</html>