<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="pl-10 pr-10">
<div th:replace="~{fragments/header :: header}">
</div>
<h2 class="page-title" th:text="#{profile.text}"></h2>
<div class="profile-name">
    <h1><span th:text="#{welcome} + ', '"></span><span th:text="${profiler.name}"></span>!</h1>
    <p><span th:text="#{email} + ': '"></span><span th:text="${profiler.email}"></span></p>

    <a class="mt-2 mb-2 hover:underline hover:text-blue-600" href="/create-book" th:text="#{create.book}"></a>
    <a class="mt-2 mb-2 hover:underline hover:text-blue-600" href="/logout" th:text="#{logout}"></a>

    <form th:action="@{/profile/setAdmin}" method="POST">
        <button type="submit" th:text="#{set.admin}"></button>
    </form>

    <div>
        <h2 th:text="#{user.books} + ':'"></h2>
        <table>
            <thead>
            <tr>
                <th th:text="#{title}"></th>
                <th th:text="#{annotation}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.annotation}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>