<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">
</div>
<form th:action="@{/registration}" th:object="${user}" method="POST">
    <label th:text="#{name} + ': '" for="username" />
    <input type="text" id="username" placeholder="username" th:field="*{name}">
    <label th:text="#{email} + ': '" for="email" />
    <input type="email" id="email" placeholder="example@ex.com" th:field="*{email}">
    <label th:text="#{password} + ': '" for="password" />
    <input type="password" id="password" placeholder="password" th:field="*{password}">
    <br />
    <button type="submit" th:text="#{submit}"></button>
</form>
</body>
</html>